body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7e7e7;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}
.ptdcima {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}
.ptdcima div {
    flex: 1;
    text-align: center;
    min-width: 150px;
}
.conteudo {
    text-align: center;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 19px;
}
.estd1, .estd2, .estd3, .estd4, .vsgrl1, .vsgrl2, .vsgrl3, .vsgrl4, .Texto_Cond_veic, .descvs {
    width: 90%;
    max-width: 825px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-left: 3.5px solid rgb(0, 119, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica';
    color: #797979;
}
.right, .right2 {
    width: 90%;
    max-width: 338px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-left: 3.5px solid rgb(0, 119, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.video-container {
    width: 90%;
    max-width: 323px;
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border-left: 3.5px solid rgb(0, 119, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.video-container video {
    width: 100%;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .ptdcima {
        flex-direction: column;
        text-align: center;
    }
    .right, .right2 {
        max-width: 90%;
    }
}