body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e7e7e7;
        }
        .ptdcima {
            display: flex;
            align-items: center;
            padding: 0px;
            background-color: white;
            padding-left:0px;
            border-bottom: 2px solid #ddd;
        }
        .ptdcima h4{
              color:rgb(77, 169, 255);

        }
        .ptdcima div {
            text-align: left;
        }
        .conteudo {
            text-align: center;
            background-image: url(); 
            background-size: cover;
            background-position: center;
            height: 300px;
            margin-top:19px;
            
        }
        .estd1, .estd2, .estd3, .estd4{
            width: 825px; 
            margin: 20px;
            padding: 10px;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 2;
            position: relative;
            font-family:'Helvetica';
            color:#797979;
        }
        
        .vsgrl1{
            margin: 20px;
            padding: 10px;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            Font-family:'Helvetica';
            margin-top:-17px;
            width: 825px;

        }
        .vsgrl2{

            margin: 20px;
            padding: 10px;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            Font-family:'Helvetica';
            margin-top:-17px;
            width: 825px;
        }
        .vsgrl3{
            width: 825px;
            margin: 20px;
            padding: 10px;
            color:#0077ff;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            Font-family:'Helvetica';
            margin-top:-17px;
            padding-top:9px;
            padding-bottom:0px;
        }
        .blylw{
            color:black;
            margin-left:10px;
        }
        .vsgrl4{

            margin: 20px;
            padding: 10px;
            color:#0077ff;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            Font-family:'Helvetica';
            margin-top:-17px;
            padding-top:10px;
            padding-bottom:0px;
            width: 825px;
        }
        
        
        .contact {
            margin: 20px;
            padding: 20px;
        
        }
        .contact2 {
            text-align:center;
        }
        .texto1{
            margin-left:10px;

        }
        .texto2{
            margin-left:53px;

        }
        .texto3{
            margin-left:70px;

        }
        .simbolo{
            margin-left:700px;
            margin-top:1px;
        }
    
        .right {
            width: 300px;
            background-color: white;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top:-840px;
            margin-left:895px;
            border-left: 3.5px solid rgb(0, 119, 255);
        }
        .right2 {
            width: 338px;
            background-color: white;
            padding: 1px;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top:-319px;
            margin-left:895px;
            
        }
    .left {
        width: 70%;
    }
    .carro2{
        width:1438px;
        height:400px;
        z-index: -1;
        position: absolute;
    }
    /* Contêiner do vídeo */
    .video-container {
        
        width: 323px; /* Tamanho inicial */
        cursor: pointer;
        transition: transform 0.3s ease;
        margin: 20px;
        padding:20px;
        align-items:center;
        margin-right:616px;
        padding-left:302px;
        padding-right:220px;
        background-color: white;
        border-left: 3.5px solid rgb(0, 119, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top:-17px;
    }

    /* Vídeo ocupa todo o contêiner */
    .video-container video {
        width: 100%;
        height: auto;
        margin-top:10px;
        margin-right:10px;
        border-radius: 10px;
        padding-left:10px;
        

    }

    /* Estilo para quando o vídeo estiver expandido */
    .expanded {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw; /* 90% da largura da tela */
        height: auto;
        z-index: 1000;
        border-radius: 0;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    }

    /* Fundo escuro ao expandir */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
    }

    .overlay.active {
        display: block;
    }
    .Texto_Cond_veic{
        margin: 20px;
            padding: 10px;
            background-color: white;
            border-left: 3.5px solid rgb(0, 119, 255);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top:-17px;
            padding-top:10px;
            font-family:'Helvetica';
            width: 825px;
    }
    .descvs{
        margin: 20px;
            padding: 10px;
            background-color: white;
            border-left: 3.5px solid #0077ff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top:-17px;
            color:#0077ff;
            font-family:'Helvetica';
            width: 825px;
    }
    .linhzul{
        
            display: inline-block;
            position: relative;
            color:#797979;
       
    }
    .linhzul::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px; 
        width: 100%;
        height: 2px; 
        background-color: #0077ff; 
    }
    td{
        color:#0077ff;
        padding:20px;
    }
    .blredtxt{
        margin-top:10px;
        margin-left:10px;
    }
    .blylwtxt{
        margin-top:10px;
        margin-left:10px;
    }
    .tbl{
        margin-top:-42px;
        margin-left:91px;
    }
    .vsgrl4 table{
        margin-top:-20px;
    }
    @media screen and (max-width: 768px) {
        .container {
            width: 95%; /* Permite um ajuste sem deformar */
        }
    }